@import url(./component/global.css);

@import url(./component/page.css);

@import url(./component/header.css);
@import url(./component/content.css);
@import url(./component/footer.css);

@import url(./component/description.css);
@import url(./component/digits.css);
@import url(./component/feynman.css);
@import url(./component/kaufman.css);

@import url(./component/table.css);
@import url(./component/section-title.css);
@import url(./component/section-subtitle.css);
@import url(./component/two-columns.css);
@import url(./component/logo.css);

/* .page {
  min-width: 1100px;
  мы ещё не умеем делать мобильную версию сайта,
  поэтому выше установлена минимальная ширина страницы
  max-width: 1600px;
  выше установили ограничение по максимальной ширине
  margin: 0 auto;
  выше для экранов больше 1600px отцентрировали весь контент
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  выше установили ограничения для секции
}

ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента
.header__square-pic {
  height: 568px;
  width: 568px;
}

и элемента с модификатором вида ключ-значение
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
