.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
}

.footer__column {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  color: white;
  margin-bottom: 16px;
}

.footer__social-icon {
  text-decoration: none;
  margin-right: 10px;
}

.footer__column-link {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
